!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href="/") ΦΚΘ
          ul.nav
            li: a(href="/manage") Manage
    #content.container!=body